<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Sobre rodas </h1>
    </header>
    <nav>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE</a>
        <a href="/contato">CONTATO</a>
        <a href="/postagens">POSTAGENS</a>
    </nav>

    <section id="contato">
        <h2>Entre em Contato</h2>
        <p>Você pode nos mandar informaçoes sobre o mundo automotivo através do email: contato@sobrerodas.com</p>
        <p>Acesse nosso canal de transmissao no Whatsapp pelo numero +55 (11)98962-4561. </p>
        <p>Tambem nos sigam no instagram @sobrerodas para se manter informado.</p>
    </section>

    <footer>
        <p>&copy; 2024 sobrerodasltda. Todos os direitos reservados.</p>
    </footer>
</body>
</html>