<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Sobre rodas </h1>
    </header>
    <nav>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE</a>
        <a href="/contato">CONTATO</a>
        <a href="/postagens">POSTAGENS</a>
    </nav>

    <section id="sobre">
        <h2>Sobre Nós</h2>
        <p>Começamos apartir de um trabalho proposto para a criaçao de um blog entao escolhemos o tema automotivo.</p>
        <p>Somente novidades oficiais ou de procedencia.</p>
    </section>

    <footer>
        <p>&copy; 2024 sobrerodasltda. Todos os direitos reservados.</p>
    </footer>
</body>
</html>